<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:insert="fragments/lib :: headmenu"></div>
	<div th:insert="fragments/commonui :: menu"></div>
	<script type="text/javascript" th:src="@{/js/document.js}"></script>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>WELCOME TO DOCUMENTS PAGE</h3>
			</div>
			<div class="card-body">
				<form id="documentForm" th:action="@{/documents/save}" method="post"
					enctype="multipart/form-data">

					<!-- Row#1 -->
					<div class="row">
						<div class="col-4">
							<label for="fileId">FILE ID</label>
						</div>
						<div class="col-4">
							<input type="text" id="fileId" name="fileId" class="form-control" />
						</div>
						<div class="col-4">
							<span id="fileIdError"></span>
						</div>
					</div>

					<!-- Row#1 -->
					<div class="row">
						<div class="col-4">
							<label for="fileOb">SELECT FILE</label>
						</div>
						<div class="col-4">
							<input type="file" id="fileOb" name="fileOb"
								class="form-control bg-info text-white"
								accept=".jpg,.jpeg,.doc,.docx,.zip,.pdf" />
						</div>
						<div class="col-4">
							<span id="fileObError"></span>
						</div>
					</div>

					<input type="submit" value="Upload" class="btn btn-success" />
				</form>
			</div>
			<div class="card-body">
				<table class="table">
					<tr>
						<th>FILE ID</th>
						<th>FILE NAME</th>
						<th>DOWNLOAD</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text="${ob[0]}" /></td>
						<td th:text="${ob[1]}" /></td>
						<td><a th:href="@{/documents/download/{id}(id=${ob[0]})}">
								<img th:src="@{/images/download.png}" width="60" height="40" />
						</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>