<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>grn edit</title>
</head>
<body>
	<div th:insert="fragments/lib :: headmenu"></div>
	<div th:insert="fragments/commonui :: menu"></div>
	<script type="text/javascript" th:src="@{/js/grn.js}"></script>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>WELCOME TO GOOD RECEVICE NOTE EDIT PAGE</h3>
			</div>
			<div class="card-body">
				<form th:action="@{/grn/save}" method="POST"
					th:object="${goodReceviceNote}">
					<!-- Row#1 -->
					<div class="row">
						<div class="col-4">
							<label for="grnCode">Grn Code</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{grnCode}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="grnCodeError"></span>
						</div>
					</div>

					<!-- Row#2 -->
					<div class="row">
						<div class="col-4">
							<label for="grnType">Grn Type</label>
						</div>
						<div class="col-4">
							<input type="text" th:field="*{grnType}" class="form-control" />
						</div>
						<div class="col-4">
							<span id="grnTypeError"></span>
						</div>
					</div>
					<!-- Row#5 -->
					<div class="row">
						<div class="col-4">
							<label>Description</label>
						</div>
						<div class="col-4">
							<textarea th:field="*{description}" class="form-control"></textarea>
						</div>
						<div class="col-4">
							<span id="descriptionError"></span>
						</div>
					</div>

					<input type="submit" class="btn btn-success" value="Update GRN" />
				</form>
			</div>
			<div th:if="${message!=null}">
				<div class="card-footer bg-info text-white text-center">
					<b><span th:text="${message}"></span></b>
				</div>
			</div>

		</div>
	</div>
</body>
</html>